h1 Editing report

== render 'form'

=> link_to 'Show', @report  if authorized_path? report_path(@report), using: @report
'|
=< link_to 'Back', reports_path if authorized_path? reports_path, skip_scoping: true

