p#notice = notice

p
  strong Name:
  = @city.name

=> link_to 'Edit', edit_city_path(@city) if authorized_path? edit_city_path(@city)
'|
=< link_to 'Back', cities_path if authorized_path? cities_path
