= content_for :nav_title do
  = controller_name.titleize
= content_for :nav_links do
  = authz_link_to 'New', send("new_#{controller_name.singularize}_path"), {class: 'button is-primary'}, skip_scoping: true
