$sidebar-width: 250px

.az-sidebar
  position: fixed
  width: $sidebar-width
  background-color: $white
  height: 100vh
  overflow-x: hidden
  overflow-y: scroll
  padding: 1rem

.az-content
  padding-left: $sidebar-width

.az-header
  background: $white
  padding: 1rem

.error
  color: $danger
